.size {
   
display: flex;
height: 60px;
width: 100%;
position: fixed;
}

.flags {
   width: 2vw;
}

.item {
   
   justify-content: flex-end;
}

li a:hover {
   color: white !important;
   border-style: solid;
   border-width: 1px 0px; 
}

.titol {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("DSCF88701.JPG"); 
   background-size:cover;
   height: 100vh;
}

.subtitol {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30vw;
   
}

#myBtn {
   display: none; /* Hidden by default */
   position: fixed; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   right: 30px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
   border: none; /* Remove borders */
   outline: none; /* Remove outline */
   background-color: black; /* Set a background color */
   color: white; /* Text color */
   cursor: pointer; /* Add a mouse pointer on hover */
   padding: 15px; /* Some padding */
   border-radius: 10px; /* Rounded corners */
   font-size: 18px; /* Increase font size */
 }
 
#myBtn:hover {
   background-color: rgb(66, 61, 61); /* Add a dark-grey background on hover */
}

.emfasi {
   color: rgb(3, 3, 104);
   font-family: "Arial";
   font-style: normal;
   font-weight: 600;
   font-size: 1.5rem;
   
}
.execsearch {
   background-image: url("DSCF8995.jpg");
   background-size: cover;

}
.coaching {
   background-image: url("DSCF8840.jpg");
   background-size: cover;
}
.wertes {
   background-image: url("IMGP7990.jpg");
   background-size: cover;
}

.sections {
   margin-bottom: 10px;
}

.subtitol p {
   color: white;
   font-family: "Arial";
   font-style: normal;
   font-weight: 800;
   font-size: 4rem;
}

.titol p {
   font-family: "Arial";
   font-style: normal;
   font-weight: 800;
   color: white;
   text-align: center;
   font-size: 5rem;
}

.ample {
   width: 35vw;
}

.row2 {
   background-color:rgb(223, 223, 223) ;
}

.informacio {
   display: flex;
}

.cont {
   justify-content: center;
   text-align: center !important;
}

.pos {
   justify-content: flex-start;
}

.cos1 {
   color: rgb(3, 3, 104);
   font-family: "Arial";
   font-size: 2rem;
   text-align: justify;
}

.contact {
   background-image: url("IMGP4731.jpg");
   background-size: cover;
}

.fot {
   display: flex;
   height: 30px;
   background-color: black;
   color: white;
   justify-content: space-around;
}
p {
   text-align: justify;
}
@media (max-width: 600px) {
   
   .titol p {
      font-size: 7vw;
   }
   
   .flags {
      width: 4vw;
   }
   .emfasi {
      font-size: 5vw;
   }
   .subtitol p {
      font-size: 7vw;
   }
   .cos p {
      font-size: 3vw;
   }
   .cos1 p {
      font-size: 6vw;
   }
   footer {
       font-size: 3vw;
   }
  
}

@media (max-width: 1000px) {
   .item {
      background-color:white ;
      
   }
   .colo {
      color: black !important;
   }
}

@media (max-width: 400px) {
   .flags {
      width: 5vw;
   }
}




